.template3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1000px;
  margin: 40px auto;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.content3 {
  display: flex;
  justify-content: left;
  align-items: center;

  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-bottom: 2px solid rgb(104, 97, 97);
}
.content3 h1 {
  font-size: 50px;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: bolder;
  border-bottom: 2px solid black;
  border-radius: 5px;
}
.contact p {
  color: black;
  padding: 3px;
  padding-bottom: 5px;
  font-size: 20px;
  margin-left: 200px;
}
#heading {
  font-size: 24px;
  font-weight: bolder;
  color: black;
}
.info {
  display: flex;
  padding: 20px;

  border-bottom: 2px solid black;
}
.info #about {
  color: black;
  display: flex;
  justify-content: center;
  margin-left: 310px;
}
.info #expe {
  margin-left: 262px;
  color: black;
}
.info #edu {
  margin-left: 262px;
  color: black;
}
.info #ski {
  margin-left: 325px;
  color: black;
}
.info #achie {
  margin-left: 230px;
  color: black;
}
.info #hobb {
  margin-left: 300px;
  color: black;
}

@media (max-width: 600px) {
  .template3 {
    width: 100%;

    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .content3 {
    text-align: left;
  }
  .content3 h1 {
    font-size: 28px;
    padding: 5px;
    text-align: left;
  }
  .contact {
    font-size: 16px;
    text-align: left;
  }
  #heading {
    font-size: 18px;
  }
  .info {
    padding: 10px 0;
  }
  .download-btn {
    width: 90%;
    margin: 20px auto;
    padding: 12px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .contact p {
    color: black;
    padding: 3px;
    padding-bottom: 5px;
    font-size: 15px;
    margin-left: 10px;
  }

  .download-btn:hover {
    background-color: #333;
  }
  .info {
    display: flex;
    padding: 20px;

    border-bottom: 2px solid black;
  }
  .info #about {
    justify-content: center;
    margin-left: 70px;
  }
  .info #expe {
    margin-left: 60px;
    color: black;
  }
  .info #edu {
    margin-left: 60px;
    color: black;
  }
  .info #ski {
    margin-left: 100px;
    color: black;
  }
  .info #achie {
    margin-left: 30px;
    color: black;
  }
  .info #hobb {
    margin-left: 79px;
    color: black;
  }
}
